/*sliderNews*/
.app{
    width: 80%;
    margin: 150px auto;
}

.title{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.goBack{
    float: right;
    margin-top:5px;
}

.footer{
    display: flex;
    justify-content: center;
    /*position: fixed;*/

    /*bottom: 20px;*/
}

.list-group-item{
    width: 50%;
    margin: 0 auto;
    /*display: flex;*/
    /*justify-content: center;*/
}

.addel{
    /*width: 80%;*/
}