/*sliderNews*/
.app{
    width: 80%;
    margin: 150px auto;
}

.title{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.markdown_title{
    display: flex;
    justify-content: center;
    padding-bottom:30px;
    padding-top:20px;
    background-color: #D5D6E2;
}

.goBack{
    float: right;
    margin-top:5px;
}

.footer{
    display: flex;
    justify-content: center;
    /*position: fixed;*/

    /*bottom: 20px;*/
}

.list-group-item{
    width: 50%;
    margin: 0 auto;
    /*display: flex;*/
    /*justify-content: center;*/
}


.container {
    margin-top: 10px;
}

h1 {
    padding-bottom: 0px;
}

.row{margin-top:-90px;}

